@font-face{
    font-family: 'Kodchasan-Bold';
    src: url(../fonts/Kodchasan-Bold.ttf);
}
@font-face{
    font-family: 'Kodchasan-Medium';
    src: url(../fonts/Kodchasan-Medium.ttf);
}
@font-face{
    font-family: 'Kodchasan-SemiBold';
    src: url(../fonts/Kodchasan-SemiBold.ttf);
}